#wrapper {
  display: flex;
  justify-content: center;
}
#wrapper #FoodDiv {
  display: grid;
  justify-items: center;
  align-content: center;
  border: dashed black 1px;
  text-align: center;
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: lightgreen;
}
#wrapper #FoodDiv img{
  width:80px;
  text-align: center;
}